# tomcat配置
server:
  port: 8000

###########################################################

# 日志配置
logging:
  level:
    root: info
    org: warn
    com.xiuchu.kkfcc: debug
  file: my.log
  pattern:
    console: '%level %date{HH:mm:ss} %logger{20}.%M %L :%m%n'
    file: '%level %date{ISO8601} [%thread] %logger{20}.%M %L :%m%n'

###########################################################

# 数据源配置
spring:
  datasource:
      url: jdbc:mysql://127.0.0.1:3306/graduating_design?true&characterEncoding=UTF-8
      data-username: root
      data-password: 123456
      driver-class-name: com.mysql.jdbc.Driver

# mybatis
mybatis:
    type-aliases-package: com.xiuchu.kkfcc.pojo
    mapper-locations: classpath:mapper/*.xml

mapper:
    mappers:
        - com.xiuchu.kkfcc.util.MyMapper
    not-empty: false
    identity: MYSQL

pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql



