<!DOCTYPE>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <title>秀厨-唯爱与美食不可辜负</title>
    <script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../css/activity.css"/>
</head>
<body>
<div class="topbar-outer has-bottom-border">
    <div class="topbar-container">
        <div class="topbar">
            <div class="pure-g">
                <div class="pure-u-1-6" style="
    height: 50px;
    margin-top: -15px;
    margin-left: 40px;
    width: 120px;">
                    <h1 class="fl" style="margin: 0px"><a href="/index"
                                                          style="font-size: 34px;font-weight: 700;">秀<span>厨</span></a>
                    </h1>
                </div>
                <div class="pure-u-5-6">
                    <div class="float-left">
                        <form class="search" action="/search/">
                            <span class="twitter-typeahead" style="position: relative; float: left;"><input
                                    class="tt-hint" type="text" autocomplete="off" spellcheck="off" disabled=""
                                    style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);"><input
                                    type="text" name="keyword" class="typeahead float-left tt-query" value=""
                                    placeholder="搜索菜谱、食材" autocomplete="off" spellcheck="false" dir="auto"
                                    style="position: relative; vertical-align: top; background-color: transparent;"><span
                                    style="position: absolute; left: -9999px; visibility: hidden; white-space: nowrap; font-family: sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 1px; text-indent: 0px; text-rendering: auto; text-transform: none;"></span><span
                                    class="tt-dropdown-menu"
                                    style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"></span></span>
                            <input type="hidden" name="cat" value="1001">
                            <input type="submit" value="搜菜谱" class="button float-left">
                        </form>
                    </div>
                    <div class="float-left">
                        <ul class="site-nav plain pure-g">
                            <li class="pure-u"><a href="/" >首页</a></li>
                            <li class="menu-class">
                                <a href="/menu_class">菜谱分类</a>
                                <div class="topbar-menu">
                                    <ul class="plainnnn">
                                        <li class='topbar-menu-head'>常用主题</li>
                                        <li><a href="/menu_class">家常菜</a></li>
                                        <li><a href="/menu_class">快手菜</a></li>
                                        <li><a href="/menu_class">下饭菜</a></li>
                                        <li><a href="/menu_class">早餐</a></li>
                                        <li><a href="/menu_class">减肥</a></li>
                                        <li><a href="/menu_class">汤羹</a></li>
                                        <li><a href="/menu_class">烘焙</a></li>
                                        <li><a href="/menu_class">小吃</a></li>
                                    </ul>
                                    <ul class="plainnnn">
                                        <li class='topbar-menu-head'>常见食材</li>
                                        <li><a href="/menu_class">猪肉</a></li>
                                        <li><a href="/menu_class">鸡肉</a></li>
                                        <li><a href="/menu_class">牛肉</a></li>
                                        <li><a href="/menu_class">鱼</a></li>
                                        <li><a href="/menu_class">鸡蛋</a></li>
                                        <li><a href="/menu_class">土豆</a></li>
                                        <li><a href="/menu_class">茄子</a></li>
                                        <li><a href="/menu_class">豆腐</a></li>
                                    </ul>
                                    <ul class="plainnnn">
                                        <li class='topbar-menu-head'>时令食材</li>
                                        <li><a href="/menu_class">春笋</a></li>
                                        <li><a href="/menu_class">笋</a></li>
                                        <li><a href="/menu_class">豌豆</a></li>
                                        <li><a href="/menu_class">草莓</a></li>
                                        <li><a href="/menu_class">金桔</a></li>
                                        <li><a href="/menu_class">菠菜</a></li>
                                        <li><a href="/menu_class">冬笋</a></li>
                                        <li><a href="/menu_class">韭菜</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pure-u"><a href="#" >菜单</a>
                            </li>
                            <li class="pure-u"><a href="/activity" rel="nofollow">作品动态</a></li>
                        </ul>
                    </div>
                    <!--<div class="float-right clearfix">-->

                        <!--<div class="user-action">-->
                            <!--<div class="user-nav">-->
                                <!--<a class="user-avatar avatar"><img-->
                                        <!--src="http://i2.chuimg.com/a3db29e405ff4d119cd215735ce35b3e_321w_321h.jpg?imageView2/1/w/30/h/30/interlace/1/q/90"-->
                                        <!--alt="测试_001的厨房" width="30" height="30"></a>-->
                                <!--<div class="user-nav-submenu hidden">-->
                                    <!--<ul class="plain">-->
                                        <!--<li><a href="#">我的厨房</a></li>-->
                                        <!--<li><a href="#">我的菜单</a></li>-->
                                        <!--<li><a href="#">帐号设置</a></li>-->
                                        <!--<li><a href="#">退出</a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<a class="user-collect" href="#" title="我的收藏">-->
                                <!--<i class="icon"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-outer">
    <!--begin of page-container-->
    <div class="page-container">
        <div class="pure-g">
            <!-- begin of main-panel -->
            <div class="pure-u-2-3 main-panel">
                <div class="mb25">
                    <div class="tab-bar pure-g">
                        <ul class="plain pure-g">
                            <li class=" active">
                                <span>其他用户的作品动态</span>
                            </li>

                        </ul>
                    </div>
                </div>
                <ul class="activity-feeds plain" id="activitiesListttt">
                    <li class="feed dish-feed pure-g mb30 has-border" id="activitiesList">
                        <div class="content">
                            <div class="brief pure-g">
                                <div class="pure-u-7-8">
                                    <a target="_blank" href="#" class="avatar" id="workUserName">
                                        <img class="mr10 unveiled" src="http://img.shengtongcf.com/c0c13c24c79e4c1b807e663f8f4360f3.jpg" alt="用户名" width="48" height="48">

                                    </a>
                                    <b>秋天不回来分享作品</b>
                                    <a target="_blank" id="workCreateTime"></a>
                                </div>
                            </div>

                            <div class="content-body pure-g pos-r has-bottom-border">
                                <div class="cover">
                                    <a target="_blank"  class="plain display-block pos-r">
                                        <img src="http://img.shengtongcf.com/6fc322459ecb4b4b8f4660bcd84dee0d.jpg" width="280" height="280" class="display-block unveiled">
                                    </a>
                                </div>
                                <div class="info">
                                    <div class="desc" id="workInfo"></div>
                                    <div class="title font16 bold mt10">
                                        <a target="_blank" id="workCreateTime1"></a>
                                    </div>
                                </div>
                                <div class="stat font12 gray-font">
                                    <span class="n-diggs">15 赞</span>
                                </div>
                            </div>

                            <div class="plain comments pl20 pr20 pt15 pb15 font12 block-bg">
                                <ul class="comments-list mb10 plain">
                                    <li class="comment mb5 pure-g ">
                                        <a target="_blank" href="" class="mr5 avatar">
                                            <img src="http://img.shengtongcf.com/36415080a90648f3b707ab815bf11bd0.jpg" class="display-block unveiled" width="30" height="30">
                                        </a>
                                        <div class="comment-text mt5">
                                            <a target="_blank" href="" id="commentUsername">秋天不回来</a>
                                            <span class="ml5" id="commentInfo">这个作品好啊</span>
                                            <div class="float-right">
                                                <a class="gray-link" id="commentTime">2019-5-14</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <form action="" class="inline-comment-input pure-g">
                                    <input type="text" name="reply" placeholder="评论" class="w100">
                                    <input hidden type="submit" value="评论" class="button pl15 pr15 float-right">
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="activity-no-feeds gray-font align-center p20 hidden" style="display: block;">
                    <div>&gt; <a href="/index">返回首页</a></div>
                </div>
            </div>
            <!-- end of main-panel -->
        </div>
    </div>
    <!-- end of page-container -->
</div>
</body>
<script>
    $(document).ready(function(){
        //loadInfo();
    });
    var activityHtml="<li class=\"feed dish-feed pure-g mb30 has-border\">\n" +
        "                        <div class=\"content\">\n" +
        "                            <div class=\"brief pure-g\">\n" +
        "                                <div class=\"pure-u-7-8\">\n" +
        "                                    <a target=\"_blank\" href=\"#\" class=\"avatar\" id=\"workUserName\">\n" +
        "                                        <img class=\"mr10 unveiled\" src=\"\" alt=\"用户名\" width=\"48\" height=\"48\">\n" +
        "\n" +
        "                                    </a>\n" +
        "                                    <b>分享作品</b>\n" +
        "                                    <a target=\"_blank\" id=\"workCreateTime\"></a>\n" +
        "                                </div>\n" +
        "                            </div>\n" +
        "\n" +
        "                            <div class=\"content-body pure-g pos-r has-bottom-border\">\n" +
        "                                <div class=\"cover\">\n" +
        "                                    <a target=\"_blank\" href=\"#\" class=\"plain display-block pos-r\">\n" +
        "                                        <img src=\"\" width=\"280\" height=\"280\" class=\"display-block unveiled\">\n" +
        "                                    </a>\n" +
        "                                </div>\n" +
        "                                <div class=\"info\">\n" +
        "                                    <div class=\"desc\" id=\"workInfo\"></div>\n" +
        "                                    <div class=\"title font16 bold mt10\">\n" +
        "                                        <a target=\"_blank\" id=\"workCreateTime1\"></a>\n" +
        "                                    </div>\n" +
        "                                </div>\n" +
        "                                <div class=\"stat font12 gray-font\">\n" +
        "                                    <span class=\"n-diggs\">13 赞</span>\n" +
        "                                </div>\n" +
        "                            </div>\n" +
        "\n" +
        "                            <div class=\"plain comments pl20 pr20 pt15 pb15 font12 block-bg\">\n" +
        "                                <ul class=\"comments-list mb10 plain\">\n" +
        "                                    <li class=\"comment mb5 pure-g \">\n" +
        "                                        <a target=\"_blank\" href=\"\" class=\"mr5 avatar\">\n" +
        "                                            <img src=\"\" class=\"display-block unveiled\" width=\"30\" height=\"30\">\n" +
        "                                        </a>\n" +
        "                                        <div class=\"comment-text mt5\">\n" +
        "                                            <a target=\"_blank\" href=\"\" id=\"commentUsername\"></a>\n" +
        "                                            <span class=\"ml5\" id=\"commentInfo\"></span>\n" +
        "                                            <div class=\"float-right\">\n" +
        "                                                <a class=\"gray-link\" id=\"commentTime\">时间</a>\n" +
        "                                            </div>\n" +
        "                                        </div>\n" +
        "                                    </li>\n" +
        "                                </ul>\n" +
        "                                <form action=\"\" class=\"inline-comment-input pure-g\">\n" +
        "                                    <input type=\"text\" name=\"reply\" placeholder=\"评论\" class=\"w100\">\n" +
        "                                    <input type=\"submit\" value=\"评论\" class=\"button pl15 pr15 float-right\">\n" +
        "                                </form>\n" +
        "                            </div>\n" +
        "                        </div>\n" +
        "                    </li>";

    function loadInfo() {
        $.ajax({
            url: '/work/activity',
            data:{
            },
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            type: 'GET',
            success: function(result) {
                if(result.success) {
                   for (var i=0; i<result.data.length; i++){
                        $("#workUserName").text(result.data[i].workUserName);
                        $("#workCreateTime").text(result.data[i].workCreateTime);
                        $("#workInfo").text(result.data[i].workInfo);
                        $("#workCreateTime1").text(result.data[i].workCreateTime);
                        $("#commentUsername").text(result.data[i].commentUsername);
                        $("#commentInfo").text(result.data[i].commentInfo);
                        $("#commentTime").text(result.data[i].commentTime);
                        $("#activitiesList").after($("#activitiesListttt").html());
                   }
                }
            },
            error: function () {
                alert("异常错误！")
            }
        });
    }


</script>
</html>