<!DOCTYPE>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <title>秀厨-唯爱与美食不可辜负</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/autocomplete.css">
</head>
<body>
<div class="header"><!--------------头部---------------->
    <div class="conwidth">
        <h1 class="fl"><a href="" class="bigtitle">秀<span>厨</span></a></h1>
        <div class="search fl" id="search-box">
            <div id="search-form"></div>
            <div id="message"></div>
        </div>
        <div class="nav fr">
            <ul>
                <li><a href="/index">首页</a></li>
                <li class="menu-class"><a href="/menu_class">菜谱分类</a>
                    <div class="topbar-menu">
                        <ul class="plain">
                            <li class='topbar-menu-head'>常用主题</li>
                            <li><a href="/menu_class">家常菜</a></li>
                            <li><a href="/menu_class">快手菜</a></li>
                            <li><a href="/menu_class">下饭菜</a></li>
                            <li><a href="/menu_class">早餐</a></li>
                            <li><a href="/menu_class">减肥</a></li>
                            <li><a href="/menu_class">汤羹</a></li>
                            <li><a href="/menu_class">烘焙</a></li>
                            <li><a href="/menu_class">小吃</a></li>
                        </ul>
                        <ul class="plain">
                            <li class='topbar-menu-head'>常见食材</li>
                            <li><a href="/menu_class">猪肉</a></li>
                            <li><a href="/menu_class">鸡肉</a></li>
                            <li><a href="/menu_class">牛肉</a></li>
                            <li><a href="/menu_class">鱼</a></li>
                            <li><a href="/menu_class">鸡蛋</a></li>
                            <li><a href="/menu_class">土豆</a></li>
                            <li><a href="/menu_class">茄子</a></li>
                            <li><a href="/menu_class">豆腐</a></li>
                        </ul>
                        <ul class="plain">
                            <li class='topbar-menu-head'>时令食材</li>
                            <li><a href="/menu_class">春笋</a></li>
                            <li><a href="/menu_class">笋</a></li>
                            <li><a href="/menu_class">豌豆</a></li>
                            <li><a href="/menu_class">草莓</a></li>
                            <li><a href="/menu_class">金桔</a></li>
                            <li><a href="/menu_class">菠菜</a></li>
                            <li><a href="/menu_class">冬笋</a></li>
                            <li><a href="/menu_class">韭菜</a></li>
                        </ul>
                        <div class="span">
                            <span><a href="/menu_class">查看全部分类</a></span>
                        </div>
                    </div>
                </li>
                <li><a href="/popular_menu">菜单</a></li>
                <li><a href="/activity">作品动态</a></li>
            </ul>

            <!---------------------施工现场---------------------->
            <div id="login_change">
                <div class="dengluzhuce fr">
                    <a href="/login">登录</a>
                    <a href="/register">注册</a>
                </div>

            </div>
        </div>
    </div>
    <div class="suggest" id="sreach-suggest"><!---搜索智能提示suggest-->
        <ul>
            <li>搜" "相关用户</li>
            <li>搜" "相关菜单</li>
        </ul>
    </div>
</div>
<div class="konghang"></div><!--因为头部固定而需要设置高度空行把内容撑下去-->


<div class="content conwidth"><!----------------主体---------------->
    <div class="conwrap fl">
        <div class="conone fl"><!--body三分之一的位置-->
            <div class="menu">
                <ul>
                    <li class="menu1"><a href="/popular_menu"><i class="qiantu"></i>家常菜<i class="houtu"></i></a></li>
                    <li class="menu2"><a href="/popular_menu"><i class="qiantu"></i>快手菜<i class="houtu"></i></a></li>
                    <li class="menu3"><a href="/popular_menu"><i class="qiantu"></i>下饭菜<i class="houtu"></i></a></li>
                    <li class="menu4"><a href="/popular_menu"><i class="qiantu"></i>早餐<i class="houtu"></i></a></li>
                    <li class="menu5"><a href="/popular_menu"><i class="qiantu"></i>肉<i class="houtu"></i></a>
                        <div id="submenu">
                            <div class="submenubox">
                                <dl>
                                    <dt><a href="/popular_menu">猪肉</a></dt>
                                    <dd><a href="/popular_menu">排骨</a><a href="/popular_menu">五花肉</a><a
                                            href="/popular_menu">里脊</a><a href="/popular_menu">猪肉末</a><a
                                            href="/popular_menu">瘦肉</a><a href="/popular_menu">猪蹄</a><a
                                            href="/popular_menu">猪肝</a><a href="/popular_menu">更多</a></dd>
                                </dl>
                                <hr class="hr">
                                <dl>
                                    <dt><a href="/popular_menu">鸡</a></dt>
                                    <dd><a href="/popular_menu">鸡腿</a><a href="/popular_menu">鸡翅</a><a
                                            href="/popular_menu">鸡肉</a><a href="/popular_menu">鸡爪</a><a
                                            href="/popular_menu">土鸡</a><a href="/popular_menu">三黄鸡</a><a
                                            href="/popular_menu">鸡胗</a><a href="/popular_menu">更多</a></dd>
                                </dl>
                                <hr class="hr">
                                <dl>
                                    <dt><a href="/popular_menu">牛肉</a></dt>
                                    <dd><a href="/popular_menu">牛腩</a><a href="/popular_menu">肥牛</a><a
                                            href="/popular_menu">牛排</a><a href="/popular_menu">牛肉末</a><a
                                            href="/popular_menu">牛瘦肉</a><a href="/popular_menu">牛尾</a><a
                                            href="/popular_menu">牛筋</a><a href="/popular_menu">更多</a></dd>
                                </dl>
                                <hr class="hr">
                                <dl>
                                    <dt><a href="/popular_menu">鸭</a></dt>
                                    <dd><a href="/popular_menu">鸭腿</a><a href="/popular_menu">鸭翅</a><a
                                            href="/popular_menu">鸭胗</a><a href="/popular_menu">鸭掌</a><a
                                            href="/popular_menu">老鸭</a><a href="/popular_menu">鸭脖</a><a
                                            href="/popular_menu">鸭舌</a><a href="/popular_menu">更多</a></dd>
                                </dl>
                                <hr class="hr">
                                <dl>
                                    <dt><a href="/popular_menu">羊肉</a></dt>
                                    <dd><a href="/popular_menu">羊腿</a><a href="/popular_menu">羊肉片</a><a
                                            href="/popular_menu">羊排</a><a href="/popular_menu">羊蝎子</a><a
                                            href="/popular_menu">更多</a></dd>
                                </dl>
                            </div>
                        </div>
                    </li>
                    <li class="menu6"><a href="/popular_menu"><i class="qiantu"></i>鱼<i class="houtu"></i></a></li>
                    <li class="menu7"><a href="/popular_menu"><i class="qiantu"></i>蔬菜<i class="houtu"></i></a>
                        <div id="submenu">
                            <div class="submenubox">
                                <dl>
                                    <dt><a href="/popular_menu">果实类蔬菜</a></dt>
                                    <dd><a href="/popular_menu">茄子</a><a href="/popular_menu">番茄</a><a
                                            href="/popular_menu">玉米</a><a href="/popular_menu">南瓜</a><a
                                            href="/popular_menu">丝瓜</a><a href="/popular_menu">冬瓜</a><a
                                            href="/popular_menu">豆角</a><a href="/popular_menu">更多</a></dd>
                                </dl>
                                <hr class="hr">
                                <dl>
                                    <dt><a href="/popular_menu">根茎蔬菜</a></dt>
                                    <dd><a href="/popular_menu">土豆</a><a href="/popular_menu">萝卜</a><a
                                            href="/popular_menu">藕</a><a href="/popular_menu">红薯</a><a
                                            href="/popular_menu">山药</a><a href="/popular_menu">芋头</a><a
                                            href="/popular_menu">笋</a><a href="/popular_menu">更多</a></dd>
                                </dl>
                                <hr class="hr">
                                <dl>
                                    <dt><a href="/popular_menu">菌菇类</a></dt>
                                    <dd><a href="/popular_menu">香菇</a><a href="/popular_menu">杏鲍菇</a><a
                                            href="/popular_menu">金针菇</a><a href="/popular_menu">木耳</a><a
                                            href="/popular_menu">茶树菇</a><a href="/popular_menu">猴头菇</a><a
                                            href="/popular_menu">平菇</a><a href="/popular_menu">更多</a></dd>
                                </dl>
                                <hr class="hr">
                                <dl>
                                    <dt><a href="/popular_menu">叶类蔬菜</a></dt>
                                    <dd><a href="/popular_menu">韭菜</a><a href="/popular_menu">菠菜</a><a
                                            href="/popular_menu">圆白菜</a><a href="/popular_menu">油菜</a><a
                                            href="/popular_menu">娃娃菜</a><a href="/popular_menu">空心菜</a><a
                                            href="/popular_menu">油麦菜</a><a href="/popular_menu">更多</a></dd>
                                </dl>
                            </div>
                        </div>
                    </li>
                    <li class="menu8"><a href="/popular_menu"><i class="qiantu"></i>鸡蛋<i class="houtu"></i></a></li>
                    <li class="menu9"><a href="/popular_menu"><i class="qiantu"></i>汤羹<i class="houtu"></i></a></li>
                    <li class="menu10"><a href="/popular_menu"><i class="qiantu"></i>烘焙<i class="houtu"></i></a></li>
                    <li class="menu11"><a href="/popular_menu"><i class="qiantu"></i>松下烘焙<i class="houtu"></i></a>
                        <div id="submenu">
                            <div class="submenubox submenubox1">
                                <dl>
                                    <dt><a href="/popular_menu">松下烘焙魔法世界</a></dt>
                                    <dd><a href="/popular_menu">蒸烤箱</a><a href="/popular_menu">面包机</a><a
                                            href="/popular_menu">电烤箱</a><a href="/popular_menu">电饭煲</a><a
                                            href="/popular_menu">电压力锅</a><a href="/popular_menu">更多</a></dd>
                                </dl>
                            </div>
                        </div>
                    </li>
                    <li class="menu12"><a href="/popular_menu"><i class="qiantu"></i>主食<i class="houtu"></i></a></li>
                    <li class="menu13"><a href="#"><i class="qiantu"></i>面<i class="houtu"></i></a></li>
                    <li class="menu14"><a href="#"><i class="qiantu"></i>素食<i class="houtu"></i></a></li>
                    <hr style="width: 120px;opacity: 0.2;color: #CCCCCC;">
                    <li class="menu15"><a href="#"><i class="qiantu"></i>孕妇<i class="houtu"></i></a></li>
                    <li class="menu16"><a href="#"><i class="qiantu"></i>产妇<i class="houtu"></i></a></li>
                    <li class="menu17"><a href="#"><i class="qiantu"></i>婴儿<i class="houtu"></i></a></li>
                    <li class="menu18"><a href="#"><i class="qiantu"></i>儿童<i class="houtu"></i></a></li>
                </ul>
            </div>
            <!--  <div class="erweima clearfix">
                  <p><a href="/menu_class" >全部菜谱分类</a></p>
                  <a href="#" ><img src="img/index/erweima.png" /></a>
              </div>-->
            <div class="kh30"></div>
            <div class="shizhong">
                <canvas id="clock" height="120px" width="120px"></canvas>
            </div>
            <script src="js/clock.js" type="text/javascript" charset="utf-8"></script>
        </div>

        <div class="contwo fl"><!--body三分之二的位置-->
            <div class="banner" id="b03">
                <ul id="ul01">
                    <li><a href="" id="a0"><img src="" id="img0"></a></li>
                    <li><a href="" id="a1"><img src="" id="img1"></a></li>
                    <li><a href="" id="a2"><img src="" id="img2"></a></li>
                    <li><a href="" id="a3"><img src="" id="img3"></a></li>
                    <li><a href="" id="a4"><img src="" id="img4"></a></li>
                </ul>
            </div>
            <div class="kh30"></div>
            <div class="xinxiucaipu clearfix">
                <div class="title"><h2 class="fubiaoti">新秀菜谱</h2><a href="#" class="quanbu">全部</a></div>
                <div class="caipu">
                    <img src="http://img.shengtongcf.com/15ac90b8cfd9480cb79d26e4dfbead85.jpg"/>
                    <a href="/recipe/341"> 《肿瘤食谱100道》--日式南瓜沙拉（补充热量）  </a>
                </div>
                <div class="caipu caipu2">
                    <img src="http://img.shengtongcf.com/bc14744103fd455da8be4d0b937d957f.jpg"/>
                    <a href="/recipe/342"> 自制无添加披萨酱/意面酱 </a>
                </div>
                <div class="caipu">
                    <img src="http://img.shengtongcf.com/5789bd7698f04df1858979aa47439271.jpg"/>
                    <a href="/recipe/343"> 金桔酱润肺止咳化痰疗效好。金桔酱。  </a>
                </div>
            </div>
            <div class="kh30"></div>
            <div class="clearfix zuijinliuxing ">
                <div class="title clearfix"><h2 class="fubiaoti">最近流行</h2><a href="/menu_book" class="quanbu">全部</a>
                </div>
                <div class="liuxing liuxing1">
                    <img src="http://img.shengtongcf.com/59cc01e2cb6d41da8c9a7f725f21796f.jpg"/>
                    <div class="name"><a href="/recipe/333" class="a"> 全素沙拉紫薯苦菊藜麦小米芒果火龙果</a></div>
                    <div class="xz"><span>阿妹</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>1857 做过</span></div>
                </div>
                <div class="liuxing liuxing2 liuxing1">
                    <img src="http://img.shengtongcf.com/56c3b35772d94207b2edcc477a9247d2.jpg"/>
                    <div class="name"><a href="/recipe/334" class="a"> 减脂餐/时蔬鸡胸套餐 </a></div>
                    <div class="xz"><span>阿妹</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>1857 做过</span></div>
                </div>
                <div class="liuxing">
                    <img src="http://img.shengtongcf.com/79341d4e6c774a679cbbfe92240735fe.jpg"/>
                    <div class="name"><a href="/recipe/335" class="a"> 考伯沙拉 Cobb Salad  </a></div>
                    <div class="xz"><span>阿妹</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>1857 做过</span></div>
                </div>
                <div class="liuxing  liuxing2">
                    <img src="http://img.shengtongcf.com/1080c3339b5543119f330ef3e128b3e1.jpg"/>
                    <div class="name"><a href="/recipe/336" class="a"> 麻辣土豆片  </a></div>
                    <div class="xz"><span>阿妹</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>1857 做过</span></div>
                </div>
                <div class="liuxing">
                    <img src="http://img.shengtongcf.com/d581a4fc25644d23ba8de6ff261c97b6.jpg"/>
                    <div class="name"><a href="/recipe/337" class="a"> 肉松藜麦饭团子（小朋友一口气能吃俩） </a></div>
                    <div class="xz"><span>阿妹</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>1857 做过</span></div>
                </div>
                <div class="liuxing liuxing2">
                    <img src="http://img.shengtongcf.com/2803de3991174271a9639af268656840.jpg"/>
                    <div class="name"><a href="/recipe/338" class="a"> 经典蔬菜沙拉 </a></div>
                    <div class="xz"><span>阿妹</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>1857 做过</span></div>
                </div>
            </div>
            <div class="kh30"></div>
            <div class="chufangwenda clearfix">
                <div class="title"><h2 class="fubiaoti">厨房问答</h2><a href="/cook_question" class="quanbu">全部</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/cook_question" class="quanbu">发起话题</a></div>
                <div class="wenda">
                    <a href="/cook_question">如何用电饭煲做出蓬松可口的蛋糕？</a><span>10&nbsp;参与</span><br/>
                    <a href="/cook_question">如何用电饭煲做出蓬松可口的蛋糕？</a><span>7&nbsp;参与</span><br/>
                    <a href="/cook_question">如何用电饭煲做出蓬松可口的蛋糕？</a><span>9&nbsp;参与</span><br/>
                    <a href="/cook_question">如何用电饭煲做出蓬松可口的蛋糕？</a><span>20&nbsp;参与</span><br/>
                    <a href="/cook_question">如何用电饭煲做出蓬松可口的蛋糕？</a><span>14&nbsp;参与</span><br/>
                </div>
            </div>
            <div class="kh30"></div>
            <div class="shilingshicai">
                <div class="title"><h2 class="fubiaoti">时令食材</h2><a href="/popular_menu" class="quanbu">全部</a></div>
                <div class="shicai">
                    <div class="shicaiimg">
                        <a href="/popular_menu"><img src="img/index/shicai/0903bd727c9211e5922bb82a72e00100.jpg"/><span>豌豆</span></a>
                    </div>
                    <div class="shicaiimg">
                        <a href="/popular_menu"><img src="img/index/shicai/0a54bc807c9211e584ca9dc38687f4d3.jpg"/><span>耗菜</span></a>
                    </div>
                    <div class="shicaiimg">
                        <a href="/popular_menu"><img src="img/index/shicai/100f86977c9211e5a29ea9bfb5aebcdb.jpg"/><span>草莓</span></a>
                    </div>
                    <div class="shicaiimg">
                        <a href="/popular_menu"><img src="img/index/shicai/15ae11427c9211e5aaa89dc38687f4d3.jpg"/><span>春笋</span></a>
                    </div>
                    <div class="shicaiimg">
                        <a href="/popular_menu"><img src="img/index/shicai/1b1fd2007c9211e5bdeb1975b1121eae.jpg"/><span>荷兰豆</span></a>
                    </div>
                    <div class="shicaiimg">
                        <a href="/popular_menu"><img src="img/index/shicai/1e92dc707c9211e5949a9dc38687f4d3.jpg"/><span>金针菇</span></a>
                    </div>
                    <div class="shicaiimg">
                        <a href="/popular_menu"><img src="img/index/shicai/59869d967c9211e5b66ab82a72e00100.jpg"/><span>青豆</span></a>
                    </div>
                    <div class="shicaiimg">
                        <a href="/popular_menu"><img src="img/index/shicai/e4c643bc7c9111e5922bb82a72e00100.jpg"/><span>鲍鱼</span></a>
                    </div>
                    <div class="shicaiimg">
                        <a href="/popular_menu"><img src="img/index/shicai/eec1fa3a7c9111e5aaa9a9bfb5aebcdb.jpg"/><span>菠菜</span></a>
                    </div>
                    <div class="shicaiimg">
                        <a href="/popular_menu"><img src="img/index/shicai/f2db3dae7c9111e5a62d9dc38687f4d3.jpg"/><span>甘蓝</span></a>
                    </div>
                    <div class="shicaiimg">
                        <a href="/popular_menu"><img src="img/index/shicai/f9f3a8eb7c9111e58580a9bfb5aebcdb.jpg"/><span>金桔</span></a>
                    </div>
                    <div class="shicaiimg">
                        <a href="/popular_menu"><img src="img/index/shicai/fa83bcde7c9111e5afe4a9bfb5aebcdb.jpg"/><span>笋</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="conthree fr">
        <!--body三分之三的位置-->
        <div id="login-info">
            <div class="denglu">
                <a href="/login" class="dengluimg"><img src="img/index/denglu1.png" /></a><br/>
                <a href="/login" class="dengluimg2"><img src="img/index/denglu2.png"/></a><br/>
                <div class="dengluwz">
                    <a href="/login" class="wz">手机/邮箱登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="/register" class="wz">注册</a>
                </div>
            </div>

        </div>

        <div class="kh30"></div>
        <div class="zuixingonggao clearfix">
            <div class="title"><h2 class="fubiaoti">最新公告</h2><a href="#" class="quanbu">全部</a>
                <div id="gonggaobox">
                    <ul id="gonggao1">
                        <li><a href="/cate_list">2019 美食榜单</a><span>2019-4-16</span></li>
                        <li><a href="/cate_list">2019 美食榜单</a><span>2019-4-15</span></li>
                        <li><a href="/cate_list">2019 美食榜单</a><span>2019-4-15</span></li>
                        <li><a href="/cate_list">2019 美食榜单</a><span>2019-4-13</span></li>
                        <li><a href="/cate_list">2019 美食榜单</a><span>2019-4-13</span></li>
                        <li><a href="/cate_list">2019 美食榜单</a><span>2019-4-13</span></li>
                        <li><a href="/cate_list">2019 美食榜单</a><span>2019-4-11</span></li>
                        <li><a href="/cate_list">2019 美食榜单</a><span>2019-4-10</span></li>
                    </ul>
                    <ul id="gonggao2">
                    </ul>
                </div>
            </div>
        </div>

        <div class="kh30"></div>
        <div class="liuxingcaidan clearfix">
            <div class="title"><h2 class="fubiaoti">流行菜单</h2><a href="/popular_menu" class="quanbu">全部</a></div>
            <ul>
                <li><a href="/menu/1">菜单二号</a></li>
                <li><a href="/menu/2">菜单一号</a></li>
                <li><a href="/menu/3">ddhfgdhgdhfgh</a></li>
            </ul>
        </div>
        <div class="kh30"></div>
        <div class="liuxingsousuo clearfix">
            <div class="title"><h2 class="fubiaoti">流行搜索</h2></div>
            <ol>
                <li><a href="/search_hint"><i></i><span>1</span>&nbsp;&nbsp;茄子</a><i></i></li>
                <li class="closeright"><a href="/search_hint"><i></i><span>2</span>&nbsp;&nbsp;家常菜</a><i></i></li>
                <li><a href="/search_hint"><i></i><span>3</span>&nbsp;&nbsp;香葱炒蛋</a><i></i></li>
                <li class="closeright"><a href="/search_hint"><i></i><span>4</span>&nbsp;&nbsp;单身食谱</a><i></i></li>
                <li><a href="/search_hint"><i></i><span>5</span>&nbsp;&nbsp;豆腐</a><i></i></li>
                <li class="closeright"><a href="/search_hint"><i></i><span>6</span>&nbsp;&nbsp;烘焙</a><i></i></li>
                <li><a href="/search_hint"><i></i><span>7</span>&nbsp;&nbsp;下饭菜</a><i></i></li>
                <li class="closeright"><a href="/search_hint"><i></i><span>8</span>&nbsp;&nbsp;香椿</a><i></i></li>
                <li><a href="/search_hint"><i></i><span>9</span>&nbsp;&nbsp;笋</a><i></i></li>
                <li class="closeright"><a href="/search_hint"><i></i><span>10</span>&nbsp;&nbsp;菠菜</a><i></i></li>
            </ol>
        </div>
        <div class="kh30"></div>
    </div>
</div>

<div class="conwidth footer"><!----------------页脚---------------->
    <ul>
        <li><a href="#">美食生活杂志</a></li>
        <li><a href="#">厨房工作</a></li>
        <li><a href="#">社区指导原则</a></li>
        <li><a href="#">秀厨出版的书</a></li>
        <li><a href="#">帮助中心</a></li>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">意见反馈</a></li>
        <li><a href="#">隐私声明</a></li>
    </ul>
    <br/>
    <p>Zed,the Master of Shadows product "秀厨网" ,for commercial use.</p>
</div>
<div class="scrollTop" id="scrolltop"><img src="img/index/scrolltop.png"/></div>

<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
<script src="js/clock.js" type="text/javascript" charset="utf-8"></script>
<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="js/autocomplete.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>