<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人菜谱 - 秀厨</title>
    <script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/menu_book.css">
    <link rel="stylesheet" type="text/css" href="../css/amazeui.min.css">
</head>

<body>
<div class="header"><!--------------头部---------------->
    <div class="conwidth">
        <h1 class="fl"><a href="">秀<span>厨</span></a></h1>
        <div class="search fl" id="search-box">
            <form action="#" method="get" target="_blank">
                <input type="text" placeholder="搜索菜谱、食材" id="sreach-input" class="search-text fl">
                <input type="button" value="搜菜谱" class="search-btn fl">
            </form>
        </div>
        <div class="nav fr">
            <ul>
                <li><a href="/index">首页</a></li>
                <li class="menu-class"><a href="/menu_class">菜谱分类</a>
                    <div class="topbar-menu">
                        <ul class="plain">
                            <li class="topbar-menu-head">常用主题</li>
                            <li><a href="/menu_class">家常菜</a></li>
                            <li><a href="/menu_class">快手菜</a></li>
                            <li><a href="/menu_class">下饭菜</a></li>
                            <li><a href="/menu_class">早餐</a></li>
                            <li><a href="/menu_class">减肥</a></li>
                            <li><a href="/menu_class">汤羹</a></li>
                            <li><a href="/menu_class">烘焙</a></li>
                            <li><a href="/menu_class">小吃</a></li>
                        </ul>
                        <ul class="plain">
                            <li class="topbar-menu-head">常见食材</li>
                            <li><a href="/menu_class">猪肉</a></li>
                            <li><a href="/menu_class">鸡肉</a></li>
                            <li><a href="/menu_class">牛肉</a></li>
                            <li><a href="/menu_class">鱼</a></li>
                            <li><a href="/menu_class">鸡蛋</a></li>
                            <li><a href="/menu_class">土豆</a></li>
                            <li><a href="/menu_class">茄子</a></li>
                            <li><a href="/menu_class">豆腐</a></li>
                        </ul>
                        <ul class="plain">
                            <li class="topbar-menu-head">时令食材</li>
                            <li><a href="/menu_class">春笋</a></li>
                            <li><a href="/menu_class">笋</a></li>
                            <li><a href="/menu_class">豌豆</a></li>
                            <li><a href="/menu_class">草莓</a></li>
                            <li><a href="/menu_class">金桔</a></li>
                            <li><a href="/menu_class">菠菜</a></li>
                            <li><a href="/menu_class">冬笋</a></li>
                            <li><a href="/menu_class">韭菜</a></li>
                        </ul>
                        <div class="span">
                            <span><a href="/menu_class">查看全部分类</a></span>
                        </div>
                    </div>
                </li>
                <li><a href="/popular_menu">菜单</a></li>
                <li><a href="/work/activity">作品动态</a></li>
            </ul>
            <div id="login_change">
                <div class="dengluzhuce fr" style="margin-top: -40px;">
                    <a href="/login">登录</a>
                    <a href="/register">注册</a>
                </div>
            </div>
        </div>
    </div>
    <div class="suggest" id="sreach-suggest"><!---搜索智能提示suggest-->
        <ul>
            <li>搜" "相关用户</li>
            <li>搜" "相关菜单</li>
        </ul>
    </div>
</div>
<div class="konghang"></div><!--因为头部固定而需要设置高度空行把内容撑下去-->
<!--/*@thymesVar id="recipeDetailVO" type="entity"*/-->
<div class="conwidth content clearfix" th:object="${recipeDetailVO}">
    <h1 id="recipeName" th:text="*{recipe.name}"><i></i></h1>
    <div class="leftcon">
        <img th:src="*{recipe.image}" id="recipeImg" width="660"/>
        <div class="cookde">
            <span class="cooknum" id="cooknum" th:text="*{recipe.collectionSum}"></span><span>&nbsp;人做过这道菜</span>
            <div class="fr">
                <a href="#" title="添加到菜单" class="icon"></a><a class="shoucang">收藏</a>
            </div>
        </div>
        <div class="author">
            <img width="60" height="60" th:src="*{userImage}"/><span  th:text="*{userName}"></span>
        </div>
        <div class="desc" id="desc" th:html="*{recipe.introduction}">
        </div>
        <div class="title">
            <h2 class="fubiaoti">菜谱简介</h2>
            <div>
                &nbsp; &nbsp;
                <span id="recipeIntroduce" style="display:inline-block;width:60%;word-wrap:break-word;white-space:normal;">
                </span>
            </div>
        </div>
        <div class="title"><h2 class="fubiaoti">用料</h2></div>
        <div class="ings">
            <table class="am-table">
                <tbody th:each="materialVO : ${recipeDetailVO.materials}">
                <tr itemprop="recipeIngredient">
                    <td>
                        <span th:text="${materialVO.name}"></span>
                    </td>
                    <td>
                        <span th:text="${materialVO.usage}"></span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="kh30"></div>
        <div class="zuofa">
            <div class="title"><h2 class="fubiaoti"><span id="titleName" th:text="*{recipe.name}"></span>的做法</h2>
            </div>
            <ol id="steps" th:each="step,iterStat : ${recipeDetailVO.steps}">
                <li><span th:text="${step.sindex}"></span>
                    <div th:utext="${step.details}">
                    </div>
                    <img th:src="${step.image}" width="300">
                </li>
            </ol>
        </div>
        <div style="height: 250px;"><!--有个奇怪的bug，所以加个高度修复。-->
        </div>
        <a class="am-btn am-btn-danger"
           th:href="'/work/jump?recipeId=' + *{recipe.id} + '&recipeName=' + *{recipe.name}" target="_blank">上传你做的<span
                th:text="*{recipe.name}"></span></a>
        <div class="kh30"></div>
        <div class="question" hidden="">
            <div class="title"><h2 class="fubiaoti"><span th:text="*{recipe.name}"></span>的答疑</h2></div>
            关于<span th:text="*{recipe.name}"></span>的做法还有疑问？ <a href="/cook_question">提一个问题</a>
        </div>
        <div class="kh30"></div>
    </div>
    <div class="rightcon">
        <div class="classplace">
            <div class="title"><h2 class="fubiaoti"><span th:text="*{recipe.name}"></span>便当所在分类</h2></div>
            <p>便当</p>
        </div>
        <div class="kh30"></div>
        <div class="recommendedmenu">
            <div class="title"><h2 class="fubiaoti">还没有菜单推荐这个菜谱</h2><a href="">+加入菜单</a></div>
        </div>
        <div class="kh30"></div>
        <div class="look">
            <div class="title"><h2 class="fubiaoti">随便看看</h2></div>
            <span><a href="#">花生仁拌芹菜</a></span><span><a href="#">口袋三明治</a></span>
            <span><a href="#">干锅有机花菜</a></span><span><a href="#">巧克力派</a></span>
            <span><a href="#">香菇红烧鸡块</a></span><span><a href="#">木耳烧腐竹</a></span>
            <span><a href="#">面筋粉面筋</a></span><span><a href="#">紫菜肉片汤</a></span>
            <span><a href="#">腐乳烧肉</a></span><span><a href="#">素炒蘑菇</a></span>
        </div>
        <div class="kh30"></div>
        <div class="kh30"></div>
        <!--<div class="message">-->
            <!--<p>该菜谱创建于 2017-04-25</p>-->
            <!--<p><span>26</span>收藏</p>-->
            <!--<p>版权归作者所有，没有作者本人的书面许可任何人不得转载或使用整体或任何部分的内容。 </p>-->
        <!--</div>-->
    </div>


</div>

<div class="bottomcon" th:object="${recipeDetailVO}">
    <div class="conwidth">
        <div class="kh30"></div>
        <div class="alsolike">
            <div class="title" id="otherWork"><h2 class="fubiaoti">喜欢<span th:text="*{recipe.name}"></span>的用户上传的作品</h2>
            </div>
            <!-- ajax插入的其他用户作品 -->
        </div>
        <div class="kh30"></div>
        <div class="othercook clearfix">
            <div class="title"><h2 class="fubiaoti">作者食在心安的其他食谱</h2></div>
            <div class="othermenu">
                <a href="#">
                    <img src="../img/menubook/e3a73094299311e7bc9d0242ac110002_1536w_1024h.jpg">
                    <p class="title">姜烧猪五花便当</p>
                    <p> 食在安心 &nbsp;&nbsp;&nbsp;&nbsp; 0 做过</p>
                </a>
            </div>
            <div class="othermenu">
                <a href="#">
                    <img src="../img/menubook//05c2bc6a2fd011e7947d0242ac110002_1024w_1536h.jpg">
                    <p class="title">豆豉风味虱目鱼烧便当</p>
                    <p> 食在安心 &nbsp;&nbsp;&nbsp;&nbsp; 0 做过</p>
                </a>
            </div>
            <div class="othermenu">
                <a href="#">
                    <img src="../img/menubook/92a5fb6e2f1311e7947d0242ac110002_1280w_853h.jpg">
                    <p class="title">牛肉片佐葱盐酱便当</p>
                    <p> 食在安心 &nbsp;&nbsp;&nbsp;&nbsp; 0 做过</p>
                </a>
            </div>
            <div class="othermenu">
                <a href="#">
                    <img src="../img/menubook/26ad43aa2a3011e7947d0242ac110002_682w_1024h.jpg">
                    <p class="title">小虾卷心菜</p>
                    <p> 食在安心 &nbsp;&nbsp;&nbsp;&nbsp; 0 做过</p>
                </a>
            </div>
            <div class="othermenu">
                <a href="#">
                    <img src="../img/menubook/1fde0fb22fd211e7947d0242ac110002_1280w_853h.jpg">
                    <p class="title">虾皮板栗南瓜</p>
                    <p> 食在安心 &nbsp;&nbsp;&nbsp;&nbsp; 0 做过</p>
                </a>
            </div>
            <div class="othermenu">
                <a href="#">
                    <img src="../img/menubook/5947b9d22fce11e7bc9d0242ac110002_1280w_853h.jpg">
                    <p class="title">金平牛蒡</p>
                    <p> 食在安心 &nbsp;&nbsp;&nbsp;&nbsp; 0 做过</p>
                </a>
            </div>
            <div class="othermenu">
                <a href="#">
                    <img src="../img/menubook/4d688e462fb211e7bc9d0242ac110002_1024w_1536h.jpg">
                    <p class="title">酱烤猪肋排便当</p>
                    <p> 食在安心 &nbsp;&nbsp;&nbsp;&nbsp; 0 做过</p>
                </a>
            </div>
            <div class="othermenu">
                <a href="#">
                    <img src="../img/menubook/a47c04e22fad11e7947d0242ac110002_1024w_1536h.jpg">
                    <p class="title">玉子烧&amp;骰子厚蛋烧</p>
                    <p> 食在安心 &nbsp;&nbsp;&nbsp;&nbsp; 0 做过</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="conwidth footer"><!----------------页脚---------------->
    <ul>
        <li><a href="#">美食生活杂志</a></li>
        <li><a href="#">厨房工作</a></li>
        <li><a href="#">社区指导原则</a></li>
        <li><a href="#">秀厨出版的书</a></li>
        <li><a href="#">帮助中心</a></li>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">意见反馈</a></li>
        <li><a href="#">隐私声明</a></li>
    </ul>
    <br>
    <p>Zed,the Master of Shadows product "秀厨网" ,for commercial use.</p>
</div>
<script>
    $(document).ready(function () {
        showOtherWorks();
    });
    function showOtherWorks() {
        var href=window.location.href;
        var index = href.lastIndexOf("/");
        var recipeId=href.substr(index+1,1);
        $.ajax({
                url: '/work/showOtherWorks?recipeId=' + recipeId,
                data:{
                },
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                type: 'GET',
                success: function(result) {
                    if(result.success) {
                        for (var i=0; i<4; i++)
                        {
                            $("#otherWork").after("<div class=\"likemenu\" id=\"likeWork\">\n" +
                                "                <a id=\"workUrl\">\n" +
                                "                    <img src=\"\">\n" +
                                "                    <p class=\"title\" id=\"worktitle\"></p>\n" +
                                "<p>&nbsp;&nbsp;&nbsp;&nbsp;<span id=\"rand\"></span>浏览</p>" +
                                "                </a>\n" +
                                "            </div>");
                            if (result.data.length > 3) {
                                $("#worktitle").text(result.data[i].workAuthor + "上传于" + result.data[i].workCreateTime.substring(0, 10));
                                $("#rand").text(Math.ceil(Math.random() * 10));
                                $("#workUrl").attr("href", "/work/details?workUserId=" + result.data[i].workUserId + "&recipeId=" + result.data[i].recipeId);
                            }else{
                                $("#worktitle").text(result.data[0].workAuthor + "上传于" + result.data[0].workCreateTime.substring(0, 10));
                                $("#rand").text(Math.ceil(Math.random() * 10));
                                $("#workUrl").attr("href", "/work/details?workUserId=" + result.data[0].workUserId + "&recipeId=" + result.data[0].recipeId);
                            }
                        }
                    }
                },
                error: function () {
                    alert("异常错误！")
                }
            }
        )

    }
</script>


<script src="../js/main.js"></script>
<script src="../js/common.js"></script>
