<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>菜谱搜索 - 秀厨</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../css/popular_menu.css"/>
</head>
<body>
<div class="header"><!--------------头部---------------->
    <div class="conwidth">
        <h1 class="fl"><a href="/index">秀<span>厨</span></a></h1>
        <div class="search fl" id="search-box">
            <form action="#" method="get" target="_blank" >
                <input type="text" placeholder="搜索菜谱、食材"
                       id="sreach-input" class="search-text fl"/>
                <input type="button" value="搜菜谱" class="search-btn fl"/>
            </form>
        </div>
        <div class="nav fr">
            <ul>
                <li><a href="/index">首页</a></li>
                <li class="menu-class"><a href="/menu_class">菜谱分类</a>
                    <div class="topbar-menu">
                        <ul class="plain">
                            <li class='topbar-menu-head'>常用主题</li>
                            <li><a href="/menu_class" >家常菜</a></li>
                            <li><a href="/menu_class" >快手菜</a></li>
                            <li><a href="/menu_class" >下饭菜</a></li>
                            <li><a href="/menu_class" >早餐</a></li>
                            <li><a href="/menu_class" >减肥</a></li>
                            <li><a href="/menu_class" >汤羹</a></li>
                            <li><a href="/menu_class" >烘焙</a></li>
                            <li><a href="/menu_class" >小吃</a></li>
                        </ul>
                        <ul class="plain">
                            <li class='topbar-menu-head'>常见食材</li>
                            <li><a href="/menu_class" >猪肉</a></li>
                            <li><a href="/menu_class" >鸡肉</a></li>
                            <li><a href="/menu_class" >牛肉</a></li>
                            <li><a href="/menu_class" >鱼</a></li>
                            <li><a href="/menu_class" >鸡蛋</a></li>
                            <li><a href="/menu_class" >土豆</a></li>
                            <li><a href="/menu_class" >茄子</a></li>
                            <li><a href="/menu_class" >豆腐</a></li>
                        </ul>
                        <ul class="plain">
                            <li class='topbar-menu-head'>时令食材</li>
                            <li><a href="/menu_class" >春笋</a></li>
                            <li><a href="/menu_class" >笋</a></li>
                            <li><a href="/menu_class" >豌豆</a></li>
                            <li><a href="/menu_class" >草莓</a></li>
                            <li><a href="/menu_class" >金桔</a></li>
                            <li><a href="/menu_class" >菠菜</a></li>
                            <li><a href="/menu_class" >冬笋</a></li>
                            <li><a href="/menu_class" >韭菜</a></li>
                        </ul>
                        <div class="span">
                            <span><a href="/menu_class">查看全部分类</a></span>
                        </div>
                    </div>
                </li>
                <li><a href="/popular_menu">菜单</a></li>
                <li><a href="/activity">作品动态</a></li>
            </ul>

        </div>
    </div>
    <div class="suggest" id="sreach-suggest"><!---搜索智能提示suggest-->
        <ul>
            <li>搜"  "相关用户</li>
            <li>搜"  "相关菜单</li>
        </ul>
    </div>
</div>
<div class="konghang"></div><!--因为头部固定而需要设置高度空行把内容撑下去-->

<div class="conwidth content">
    <div class="leftcon">
        <ul class="allclass">
            <li><a href="/menu_class">全部分类</a></li>
            <li><a href="/popular_menu1">往期头条</a></li>
            <li><a href="/popular_menu2">厨房101</a></li>
            <li><a href="/popular_menu3">月度最佳</a></li>
            <li><a href="/popular_menu4">最新创建</a></li>
        </ul>
        <ul class="popular-search">
            <li><a class="first-li">流行搜索</a></li>
            <li><a href="/search_hint">烘焙</a></li>
            <li><a href="/search_hint">素菜</a></li>
            <li><a href="/search_hint">下饭菜</a></li>
            <li><a href="/search_hint">快手菜</a></li>
            <li><a href="/search_hint">蔬菜</a></li>
            <li><a href="/search_hint">早餐</a></li>
            <li><a href="/search_hint">蚕豆</a></li>
            <li><a href="/search_hint">红烧肉</a></li>
            <li><a href="/search_hint">鱼虾水产</a></li>
        </ul>
    </div>
    <div class="centercon">
        <h1>菜单</h1>
        <div class="kywz">
            最近流行&nbsp;    |&nbsp;    <a href="">最新创建</a>
        </div>
        <div class="menublock clearfix">
            <div class="cover">
                <img src="http://img.shengtongcf.com/5789bd7698f04df1858979aa47439271.jpg" class="menuimg"/>
            </div>

            <div class="title">
                <a href="/recipe/343"><p>金桔酱润肺止咳化痰疗效好。金桔酱。</p></a>
                <p><a href="/user_kitchen/343">阴夫人私房菜</a><span>创建</span><span>2收藏</span></p>
            </div>
        </div>
        <div class="menublock clearfix">
            <div class="cover">
                <img src="http://img.shengtongcf.com/954aecb86db84c4e9c3f87edf5b43978.jpg" class="menuimg"/>
            </div>

            <div class="title">
                <a href="/recipe/349"><p>高压锅【酱牛肉】</p></a>
                <p><a href="/user_kitchen/349">小妮_gedn爱厨房</a><span>创建</span><span>1收藏</span></p>
            </div>
        </div>
        <div class="menublock clearfix">
            <div class="cover">
                <img src="http://img.shengtongcf.com/0d79a0ee42ea4b448f881d09fcc590e2.jpg" class="menuimg"/>
            </div>

            <div class="title">
                <a href="/recipe/356"><p>干锅酱香鱿鱼</p></a>
                <p><a href="/user_kitchen/356">颠颠颠小勺</a><span>创建</span><span>2收藏</span></p>
            </div>
        </div>
        <div class="menublock clearfix">
            <div class="cover">
                <img src="http://img.shengtongcf.com/8a10451973f44525a494f98cb8e35709.jpg" class="menuimg"/>
            </div>

            <div class="title">
                <a href="/recipe/344"><p>自制草莓酱</p></a>
                <p><a href="/user_kitchen/344">Tracy易彩</a><span>创建</span><span>1收藏</span></p>
            </div>
        </div>
        <div class="menublock clearfix">
            <div class="cover">
                <img src="http://img.shengtongcf.com/19b9510ed67440518566c4a08ff50141.jpg" class="menuimg"/>
            </div>

            <div class="title">
                <a href="/recipe/357"><p>抹茶牛奶酱</p></a>
                <p><a href="/user_kitchen/357">天然气小姐—Ariel</a><span>创建</span><span>3收藏</span></p>
            </div>
        </div>
        <div class="menublock clearfix">
            <div class="cover">
                <img src="http://img.shengtongcf.com/7c7e9a60a78e469db9a2f60b56d9777e.jpg" class="menuimg"/>
            </div>

            <div class="title">
                <a href="/recipe/361"><p>芸豆（豆角）炖土豆（酱炖版）</p></a>
                <p><a href="/user_kitchen/361">兜兜麻麻的食堂</a><span>创建</span><span>3收藏</span></p>
            </div>
        </div>
        <div class="menublock clearfix">
            <div class="cover">
                <img src="http://img.shengtongcf.com/bc14744103fd455da8be4d0b937d957f.jpg" class="menuimg"/>
            </div>

            <div class="title">
                <a href="/recipe/342"><p>自制无添加披萨酱/意面酱</p></a>
                <p><a href="/user_kitchen/342">葉子的爱与厨房</a><span>创建</span><span>3收藏</span></p>
            </div>
        </div>
        <div class="menublock clearfix">
            <div class="cover">
                <img src="http://img.shengtongcf.com/d6af0750912848f69025adf8154dea4b.jpg" class="menuimg"/>
            </div>

            <div class="title">
                <a href="/recipe/352"><p>家常酱菜</p></a>
                <p><a href="/user_kitchen/352">兜兜麻麻的食堂</a><span>创建</span><span>3收藏</span></p>
            </div>
        </div>
        <div class="menublock clearfix">
            <div class="cover">
                <img src="http://img.shengtongcf.com/e63cb461a706414886cffe8f1317530a.jpg" class="menuimg"/>
            </div>

            <div class="title">
                <a href="/recipe/355"><p>【日式酱煮黑豆 低糖少盐版】电饭煲轻松做</p></a>
                <p><a href="/user_kitchen/355">兔高兴</a><span>创建</span><span>1收藏</span></p>
            </div>
        </div>

        <div class="pager">
            <span class="prev">上一页</span>
            <span class="now">1</span>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            ...
            <a href="">下一页</a>
        </div>











    </div>
    <div class="rightcon">
        <div class="liuxingcaidan">
            <div class="title"><h2 class="fubiaoti">流行菜单</h2><a href="#" class="quanbu">全部</a></div>
            <ul>
                <li><a href="#">多看书多看报，少吃零食多睡觉</a></li>
                <li><a href="#">你看这个碗，他又大又圆</a></li>
                <li><a href="#">你看这个面，他又长又宽</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="conwidth footer"><!----------------页脚---------------->
    <ul>
        <li><a href="#">美食生活杂志</a></li>
        <li><a href="#">厨房工作</a></li>
        <li><a href="#">社区指导原则</a></li>
        <li><a href="#">秀厨出版的书</a></li>
        <li><a href="#">帮助中心</a></li>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">意见反馈</a></li>
        <li><a href="#">隐私声明</a></li>
    </ul><br />
    <p>Zed,the Master of Shadows product "秀厨网" ,for commercial use.</p>
</div>
<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
