<html class=""><!--<![endif]--><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>基本信息_秀厨网</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/user_count.css">
</head>

<body>
<div class="header">
    <div class="conwidth">
        <h1 class="fl"><a href="">秀<span>厨</span></a></h1>
        <div class="search fl" id="search-box">
            <form action="#" method="get" target="_blank">
                <input type="text" placeholder="搜索菜谱、食材" id="sreach-input" class="search-text fl">
                <input type="button" value="搜菜谱" class="search-btn fl">
            </form>
        </div>
        <div class="nav fr">
            <ul>
                <li><a href="index">首页</a></li>
                <li class="menu-class"><a href="/menu_class">菜谱分类</a>
                    <div class="topbar-menu">
                        <ul class="plain">
                            <li class="topbar-menu-head">常用主题</li>
                            <li><a href="/menu_class">家常菜</a></li>
                            <li><a href="/menu_class">快手菜</a></li>
                            <li><a href="/menu_class">下饭菜</a></li>
                            <li><a href="/menu_class">早餐</a></li>
                            <li><a href="/menu_class">减肥</a></li>
                            <li><a href="/menu_class">汤羹</a></li>
                            <li><a href="/menu_class">烘焙</a></li>
                            <li><a href="/menu_class">小吃</a></li>
                        </ul>
                        <ul class="plain">
                            <li class="topbar-menu-head">常见食材</li>
                            <li><a href="/menu_class">猪肉</a></li>
                            <li><a href="/menu_class">鸡肉</a></li>
                            <li><a href="/menu_class">牛肉</a></li>
                            <li><a href="/menu_class">鱼</a></li>
                            <li><a href="/menu_class">鸡蛋</a></li>
                            <li><a href="/menu_class">土豆</a></li>
                            <li><a href="/menu_class">茄子</a></li>
                            <li><a href="/menu_class">豆腐</a></li>
                        </ul>
                        <ul class="plain">
                            <li class="topbar-menu-head">时令食材</li>
                            <li><a href="/menu_class">春笋</a></li>
                            <li><a href="/menu_class">笋</a></li>
                            <li><a href="/menu_class">豌豆</a></li>
                            <li><a href="/menu_class">草莓</a></li>
                            <li><a href="/menu_class">金桔</a></li>
                            <li><a href="/menu_class">菠菜</a></li>
                            <li><a href="/menu_class">冬笋</a></li>
                            <li><a href="/menu_class">韭菜</a></li>
                        </ul>
                        <div class="span">
                            <span><a href="/menu_class">查看全部分类</a></span>
                        </div>
                    </div>
                </li>
                <li><a href="/popular_menu">菜单</a></li>
                <li><a href="/activity">作品动态</a></li>
            </ul>
        </div>
    </div>
    <div class="suggest" id="sreach-suggest"><!---搜索智能提示suggest-->
        <ul>
            <li>搜"  "相关用户</li>
            <li>搜"  "相关菜单</li>
        </ul>
    </div>
</div>
<div class="konghang"></div><!--因为头部固定而需要设置高度空行把内容撑下去-->

<div class="page-outer">
    <!--begin of page-container-->
    <div class="page-outer">
        <!--begin of page-container-->
        <div class="page-container">





            <h1 class="page-title">设置个人信息</h1>

            <!-- nav bar -->

            <div class="bar">

                <ul>
                    <li class=""><span>基本信息</span></li>
                    <li class=""><a href="/user_photo" rel="nofollow">设置头像</a></li>


                </ul>
            </div>

            <!-- nav bar -->

            <div class="userinfo">
                <div>




                    <form enctype="multipart/form-data" id="account-form" method="POST">


                        <div style="
    height: 60px;
    margin-top: 0px;
">
                            <div class="zi" id="nickName">昵称</div>
                            <div class="rua">
                                <input type="text" name="name" placeholder="输入你的昵称">

                            </div>
                        </div>

                        <div class="da">
                            <div class="zi" >自我介绍</div>
                            <div class="rua" id="introdution">
                                <textarea name="desc" rows="3" placeholder="自我介绍"></textarea>
                            </div>
                        </div>

                        <div class="da">
                            <div class="zi">性别</div>
                            <div>
                                <input type="radio" name="gender" checked="&quot;checked&quot;" value="0">
                                <span>&nbsp;男&nbsp;&nbsp;</span>
                                <input type="radio" name="gender" false="" value="1">
                                <span>&nbsp;女&nbsp;&nbsp;</span>
                                <input type="radio" name="gender" false="" value="2">
                                <span>&nbsp;其他</span>
                            </div>
                        </div>

                        <div class="da">
                            <div class="zi">生日</div>
                            <div>
                                <select name="year" id="year">
                                    <option value="">请选择</option>
                                    <option value="1950">1950</option>
                                    <option value="1951">1951</option>
                                    <option value="1952">1952</option>
                                    <option value="1953">1953</option>
                                    <option value="1954">1954</option>
                                    <option value="1955">1955</option>
                                    <option value="1956">1956</option>
                                    <option value="1957">1957</option>
                                    <option value="1958">1958</option>
                                    <option value="1959">1959</option>
                                    <option value="1960">1960</option>
                                    <option value="1961">1961</option>
                                    <option value="1962">1962</option>
                                    <option value="1963">1963</option>
                                    <option value="1964">1964</option>
                                    <option value="1965">1965</option>
                                    <option value="1966">1966</option>
                                    <option value="1967">1967</option>
                                    <option value="1968">1968</option>
                                    <option value="1969">1969</option>
                                    <option value="1970">1970</option>
                                    <option value="1971">1971</option>
                                    <option value="1972">1972</option>
                                    <option value="1973">1973</option>
                                    <option value="1974">1974</option>
                                    <option value="1975">1975</option>
                                    <option value="1976">1976</option>
                                    <option value="1977">1977</option>
                                    <option value="1978">1978</option>
                                    <option value="1979">1979</option>
                                    <option value="1980">1980</option>
                                    <option value="1981">1981</option>
                                    <option value="1982">1982</option>
                                    <option value="1983">1983</option>
                                    <option value="1984">1984</option>
                                    <option value="1985">1985</option>
                                    <option value="1986">1986</option>
                                    <option value="1987">1987</option>
                                    <option value="1988">1988</option>
                                    <option value="1989">1989</option>
                                    <option value="1990">1990</option>
                                    <option value="1991">1991</option>
                                    <option value="1992">1992</option>
                                    <option value="1993">1993</option>
                                    <option value="1994">1994</option>
                                    <option value="1995">1995</option>
                                    <option value="1996">1996</option>
                                    <option value="1997" selected="&quot;selected&quot;">1997</option>
                                    <option value="1998">1998</option>
                                    <option value="1999">1999</option>
                                    <option value="2000">2000</option>
                                    <option value="2001">2001</option>
                                    <option value="2002">2002</option>
                                    <option value="2003">2003</option>
                                    <option value="2004">2004</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                </select>
                                <span>&nbsp;年&nbsp;</span>

                                <select name="month" id="month">
                                    <option value="">请选择</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7" selected="&quot;selected&quot;">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <span>&nbsp;月&nbsp;</span>

                                <select name="day" id="day">
                                    <option value="">请选择</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8" selected="&quot;selected&quot;">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                                <span>&nbsp;日&nbsp;</span>
                            </div>
                        </div>

                        <div class="da">
                            <div class="zi">家乡</div>
                            <div>
                                <select name="home_province" id="account-home-province">
                                    <option value="">请选择</option>

                                    <option value="1">北京</option>

                                    <option value="2">天津</option>

                                    <option value="3">河北</option>

                                    <option value="4">山西</option>

                                    <option value="5">内蒙</option>

                                    <option value="6">辽宁</option>

                                    <option value="7">吉林</option>

                                    <option value="8">黑龙江</option>

                                    <option value="9">上海</option>

                                    <option value="10">江苏</option>

                                    <option value="11">浙江</option>

                                    <option value="12">安徽</option>

                                    <option value="13">福建</option>

                                    <option value="14">江西</option>

                                    <option value="15">山东</option>

                                    <option value="16" selected="&quot;selected&quot;">河南</option>

                                    <option value="17">湖北</option>

                                    <option value="18">湖南</option>

                                    <option value="19">广东</option>

                                    <option value="20">广西</option>

                                    <option value="21">海南</option>

                                    <option value="22">重庆</option>

                                    <option value="23">四川</option>

                                    <option value="24">贵州</option>

                                    <option value="25">云南</option>

                                    <option value="26">西藏</option>

                                    <option value="27">陕西</option>

                                    <option value="28">甘肃</option>

                                    <option value="29">青海</option>

                                    <option value="30">宁夏</option>

                                    <option value="31">新疆</option>

                                    <option value="32">香港</option>

                                    <option value="33">澳门</option>

                                    <option value="34">台湾</option>

                                    <option value="35">海外</option>
                                </select>
                                <select name="home_city" data="206" class="ml10"><option value="">请选择</option><option value="216">南阳</option><option value="217">商丘</option><option value="214">漯河</option><option value="215">三门峡</option><option value="205">开封</option><option value="204">郑州</option><option value="207">平顶山</option><option value="206" selected="">洛阳</option><option value="209">鹤壁</option><option value="208">安阳</option><option value="210">新乡</option><option value="211">焦作</option><option value="213">许昌</option><option value="218">信阳</option><option value="219">周口</option><option value="212">濮阳</option><option value="221">济源</option><option value="220">驻马店</option></select>
                            </div>
                        </div>

                        <div class="da">
                            <div class="zi">现居</div>
                            <div>
                                <select name="current_province" id="account-current-province">
                                    <option value="">请选择</option>

                                    <option value="1">北京</option>

                                    <option value="2" selected="&quot;selected&quot;">天津</option>

                                    <option value="3">河北</option>

                                    <option value="4">山西</option>

                                    <option value="5">内蒙</option>

                                    <option value="6">辽宁</option>

                                    <option value="7">吉林</option>

                                    <option value="8">黑龙江</option>

                                    <option value="9">上海</option>

                                    <option value="10">江苏</option>

                                    <option value="11">浙江</option>

                                    <option value="12">安徽</option>

                                    <option value="13">福建</option>

                                    <option value="14">江西</option>

                                    <option value="15">山东</option>

                                    <option value="16">河南</option>

                                    <option value="17">湖北</option>

                                    <option value="18">湖南</option>

                                    <option value="19">广东</option>

                                    <option value="20">广西</option>

                                    <option value="21">海南</option>

                                    <option value="22">重庆</option>

                                    <option value="23">四川</option>

                                    <option value="24">贵州</option>

                                    <option value="25">云南</option>

                                    <option value="26">西藏</option>

                                    <option value="27">陕西</option>

                                    <option value="28">甘肃</option>

                                    <option value="29">青海</option>

                                    <option value="30">宁夏</option>

                                    <option value="31">新疆</option>

                                    <option value="32">香港</option>

                                    <option value="33">澳门</option>

                                    <option value="34">台湾</option>

                                    <option value="35">海外</option>
                                </select>
                                <select name="current_city" data="32" class="ml10"><option value="">请选择</option><option value="24">红桥</option><option value="25">塘沽</option><option value="26">汉沽</option><option value="27">大港</option><option value="20">河东区</option><option value="21">河西区</option><option value="22">南开区</option><option value="23">河北区</option><option value="19">和平区</option><option value="32" selected="">武清</option><option value="31">北辰</option><option value="30">津南</option><option value="28">东丽</option><option value="29">西青</option><option value="35">静海</option><option value="34">宁河</option><option value="33">宝坻</option><option value="36">蓟县</option></select>
                            </div>
                        </div>

                        <div class="da">
                            <div class="zi">职业</div>
                            <div>
                                <select name="profession" id="jobs">
                                    <option value="">请选择</option>
                                    <option value="学生" selected="&quot;selected&quot;">学生</option>
                                    <option value="政府职员">政府职员</option>
                                    <option value="教师">教师</option>
                                    <option value="医生">医生</option>
                                    <option value="营养师">营养师</option>
                                    <option value="摄影师">摄影师</option>
                                    <option value="职业厨师">职业厨师</option>
                                    <option value="律师">律师</option>
                                    <option value="会计">会计</option>
                                    <option value="翻译">翻译</option>
                                    <option value="编辑">编辑</option>
                                    <option value="音乐人">音乐人</option>
                                    <option value="演艺人">演艺人</option>
                                    <option value="广告人">广告人</option>
                                    <option value="公司文员">公司文员</option>
                                    <option value="IT/互联网">IT/互联网</option>
                                    <option value="个体商人">个体商人</option>
                                    <option value="全职主妇">全职主妇</option>
                                    <option value="其他">其他</option>
                                </select>
                                <input type="text" name="other_jobs" value="" class="ml10 hidden">
                            </div>
                        </div>

                        <div class="da">
                            <div>&nbsp;</div>
                            <div style="
    padding-left: 150px;
">
                                <input type="submit" value="更新" class="button" style="
    width: 64px;
    height: 34px;
">
                            </div>
                        </div>

                    </form>


                </div>
            </div>


        </div>
    </div>


</div>
<!-- end of page-container -->
<div class="conwidth footer"><!----------------页脚---------------->
    <ul>
        <li><a href="#">美食生活杂志</a></li>
        <li><a href="#">厨房工作</a></li>
        <li><a href="#">社区指导原则</a></li>
        <li><a href="#">秀厨出版的书</a></li>
        <li><a href="#">帮助中心</a></li>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">意见反馈</a></li>
        <li><a href="#">隐私声明</a></li>
    </ul><br>
    <p>Zed,the Master of Shadows product "秀厨网" ,for commercial use.</p>
</div>
<div class="scrollTop" id="scrolltop"><img src="img/index/scrolltop.png"></div>

<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
</body></html>