<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>用户厨房 - 秀厨</title>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/amazeui.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/main.css"/>
        <link rel="stylesheet" type="text/css" href="../css/user_kitchen.css"/>
        <link rel="stylesheet" type="text/css" href="../css/amazeui.min.css"/>
        <style>
            .moren{

                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;

            }
        </style>
	</head>
	<body>
		<div class="header">
			<div class="conwidth">
				<h1 class="fl"><a href="">秀<span>厨</span></a></h1>
				<div class="search fl" id="search-box">
					<form action="#" method="get" target="_blank" >
						<input type="text" placeholder="搜索菜谱、食材"
							id="sreach-input" class="search-text fl"/>
						<input type="button" value="搜菜谱" class="search-btn fl"/>
					</form>
				</div>
				<div class="nav fr">
				<ul>
                    <li><a href="index">首页</a></li>
                    <li class="menu-class"><a href="/menu_class">菜谱分类</a>
                        <div class="topbar-menu">
                            <ul class="plain">
                            <li class='topbar-menu-head'>常用主题</li>
                            <li><a href="/menu_class" >家常菜</a></li>
                            <li><a href="/menu_class" >快手菜</a></li>
                            <li><a href="/menu_class" >下饭菜</a></li>
                            <li><a href="/menu_class" >早餐</a></li>
                            <li><a href="/menu_class" >减肥</a></li>
                            <li><a href="/menu_class" >汤羹</a></li>
                            <li><a href="/menu_class" >烘焙</a></li>
                            <li><a href="/menu_class" >小吃</a></li>
                            </ul>
                            <ul class="plain">
                            <li class='topbar-menu-head'>常见食材</li>
                            <li><a href="/menu_class" >猪肉</a></li>
                            <li><a href="/menu_class" >鸡肉</a></li>
                            <li><a href="/menu_class" >牛肉</a></li>
                            <li><a href="/menu_class" >鱼</a></li>
                            <li><a href="/menu_class" >鸡蛋</a></li>
                            <li><a href="/menu_class" >土豆</a></li>
                            <li><a href="/menu_class" >茄子</a></li>
                            <li><a href="/menu_class" >豆腐</a></li>
                            </ul>
                            <ul class="plain">
                            <li class='topbar-menu-head'>时令食材</li>
                            <li><a href="/menu_class" >春笋</a></li>
                            <li><a href="/menu_class" >笋</a></li>
                            <li><a href="/menu_class" >豌豆</a></li>
                            <li><a href="/menu_class" >草莓</a></li>
                            <li><a href="/menu_class" >金桔</a></li>
                            <li><a href="/menu_class" >菠菜</a></li>
                            <li><a href="/menu_class" >冬笋</a></li>
                            <li><a href="/menu_class" >韭菜</a></li>
                            </ul>
                            <div class="span">
                            <span><a href="/menu_class">查看全部分类</a></span>
                            </div>
                        </div>
                    </li>
                    <li><a href="/popular_menu">菜单</a></li>
                    <li><a href="">作品动态</a></li>
                </ul>
				<div class="dengluzhuce fr">
					<a href="/login">登录</a>
					<a href="/register">注册</a>
				</div>
				</div>
			</div>
            <div class="suggest" id="sreach-suggest"><!---搜索智能提示suggest-->
                <ul>
                    <li>搜"  "相关用户</li>
                    <li>搜"  "相关菜单</li>
                </ul>
            </div>
        </div>
        <div class="konghang"></div><!--因为头部固定而需要设置高度空行把内容撑下去-->

		<div class="conwidth">
        	<div class="jianjie">
        		<img th:src="${user.image}" class="img"/>
        		<div class="fl">
                    <h2><span th:text="${user.nickName}"></span>的厨房</h2>
                        <span th:text="${user.sex}?'女':'男'"></span>
                        <span><i class="icon1"></i>中国</span><br />
        				<a href="#">新浪微博</a><i class="icon2"></i>
        				<p th:text="${user.selfIntroduction}"></p>
        		</div>
        		<div class="fr">
					<a href="/user_photo"><div class="guanzhu2">我的信息</div></a>
					<div class="guanzhuderen" style="background:white;">
						<!--<div class="x y">-->
							<!--<span>关注的人</span><br><a href="#"><span>256</span></a>-->
						<!--</div>-->
						<!--<div class="x">-->
							<!--<span>被关注</span><br><a href="#"><span>775</span></a>-->
						<!--</div>-->
                        <button
                                type="button"
                                class="am-btn am-btn-primary"
                                data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 225}">
                            好友
                        </button>
                        <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
                            <div class="am-modal-dialog">
                                <div class="am-modal-hd">好友列表</div>
                                <div class="am-modal-bd">
                                    <table class="am-table am-table-striped am-table-hover">
                                        <tr>
                                            <td><a href="/userkitchen/314">开心的麻花</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="/userkitchen/316">疾风剑豪</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="/userkitchen/318">秋天不回来</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--弹出窗口结束-->
					</div>
        		</div>
        	</div>
        	<div class="kh20"></div>
		</div>

        <div class="conwidth survey">
        	<div class="navigation">
        		<span class="teshu bqgaikuang"><a>概况</a></span><span class="bqcaipu"><a href="#">菜谱</a></span><span class="bqzuopin"><a href="#">作品</a></span><span class="bqcaidan"><a href="#">菜单</a></span><span class="bqshoucang"><a href="#">收藏</a></span>
            </div>

        	<div class="fubiaoti2 clearfix">
        		<h2><span class="moren" th:text="${user.nickName}"></span>的作品</h2>
        	</div>
        	<div class="kh20"></div>
            <div class="userprod clearfix">
            	<div class="userproduction" th:each="work,infoStat : ${works}">
            		<div class="cover">
            			<img th:src="${work.image}" style="width: 215px;height: 136px"/>
            			<a th:href="/work/details?workUserId=${work.userId}&recipeId=${work.cbookId}" class="active"></a>
            		</div>
                    <p class="name"><a th:href="@{'/work/details?workUserId='+${recipe.id}+'&recipeId='+${work.cbookId}}">优秀的作品</a></p>
        			<p th:text="${work.workInfo}"></p>
        			<div class="stars">
        				<span th:text="${work.createTime}"></span>
        			</div>
            	</div>
			</div>
            <div class="kh30"></div>

			<div class="fubiaoti2 clearfix">
        		<h2><span class="moren" th:text="${user.nickName}"></span>的菜谱</h2><span>
        	</div>
            <div class="userprod clearfix">
                <div class="userproduction" th:each="recipe,infoStat : ${recipes}">
                    <div class="cover">
                        <img th:src="${recipe.image}" style="width: 215px;height: 136px"/>
                    </div>
                    <p class="name"><a th:href="@{'/recipe/'+${recipe.id}}" ><span th:text="${recipe.name}"></span></a></p>
                    <div class="stars"><span th:text="${infoStat.size}"></span> 做过|<a><span th:text="${user.nickName}"></span></a></div>
                </div>
            </div>
        </div>
        <!--===================================================================================================-->
		<div class="conwidth bigmenu clearfix">
			<div class="navigation">
        		<span class="bqgaikuang"><a href="#">概况</a></span><span class="teshu bqcaipu"><a href="#">菜谱</a></span><span class="bqzuopin"><a href="#">作品</a></span><span class="bqcaidan"><a href="#">菜单</a></span><span class="bqshoucang"><a href="#">收藏</a></span>
        	</div>

            <div class="fubiaoti2 clearfix">
                <h2><span th:text="${user.nickName}"></span>的菜谱</h2><span>
            </div>
            <div class="userprod clearfix" >
                <div class="userproduction" th:each="recipe,infoStat : ${recipes}">
                    <div class="cover">
                        <img th:src="${recipe.image}" style="width: 215px;height: 136px"/>
                    </div>
                    <p class="name"><a th:href="@{'/recipe/'+${recipe.id}}" ><span th:text="${recipe.name}"></span></a></p>
                    <div class="stars"><span th:text="${infoStat.size}"></span> 做过|<a href=""><span th:text="${user.nickName}"></span></a></div>
                </div>
            </div>
       </div>

        <!--===================================================================================================-->
        <div class="conwidth works clearfix">
        	<div class="navigation">
        		<span class="bqgaikuang"><a href="#">概况</a></span><span class="bqcaipu"><a href="#">菜谱</a></span><span class="teshu bqzuopin"><a href="#">作品</a></span><span class="bqcaidan"><a href="#">菜单</a></span><span class="bqshoucang"><a href="#">收藏</a></span>
        	</div>

            <div class="fubiaoti2 clearfix">
                <h2><span th:text="${user.nickName}"></span>的作品</h2>
            </div>
            <div class="kh20"></div>
            <div class="userprod clearfix" >
                <div class="userproduction" th:each="work,infoStat : ${works}">
                    <div class="cover">
                        <img th:src="${work.image}" style="width: 215px;height: 136px"/>
                        <a th:href="@{'/work/details?workUserId='+${recipe.id}+'&recipeId='+${work.cbookId}}" class="active"></a>
                    </div>
                    <p class="name"><a th:href="/work/details/workUserId=${work.userId}&recipeId=${work.cbookId}">优秀的作品</a></p>
                    <p th:text="${work.workInfo}"></p>
                    <div class="stars">
                        <span th:text="${work.createTime}"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--===================================================================================================-->
        <div class="conwidth bigmenus clearfix">
        	<div class="navigation">
        		<span class="bqgaikuang"><a href="#">概况</a></span><span class="bqcaipu"><a href="#">菜谱</a></span><span class="bqzuopin"><a href="#">作品</a></span><span class="teshu bqcaidan"><a href="#">菜单</a></span><span class="bqshoucang"><a href="#">收藏</a></span>
        	</div>
        	<div class="messager">
        		<a href="">
                <span class="moren" th:text="${user.nickName}"></span>建的菜单
                </a>

                <a href="/create_menu" class="fr">+ 创建一个菜单</a>
                <a th:href="/menu/${menu.id}" th:each="menu,infoStat : ${menus}">
                    <br/>
                    <span class="moren" th:text="${menu.title}"></span>
                    &nbsp;&nbsp;（<span class="moren" th:text="${menu.introduction}"></span>）
                </a>
        	</div>
        </div>
        <!--===================================================================================================-->
        <div class="conwidth collect clearfix">
        	<div class="navigation">
        		<span class="bqgaikuang"><a href="#">概况</a></span><span class="bqcaipu"><a href="#">菜谱</a></span><span class="bqzuopin"><a href="#">作品</a></span><span class="bqcaidan"><a href="#">菜单</a></span><span class="teshu bqshoucang"><a href="#">收藏</a></span><!--<span class="bqliuyanban"><a href="#">留言板</a></span>-->
        	</div>
        	<div class="messager">
                <a>
                    <span class="moren" th:text="${user.nickName}"></span>收藏的菜单
                </a>
                <a th:href="/menu/${menu.id}" th:each="mCollect,infoStat : ${mCollects}">
                    <br/>
                    <span class="moren" th:text="${mCollect.title}"></span>
                    &nbsp;&nbsp;（<span class="moren" th:text="${mCollect.introduction}"></span>）
                </a>
        	</div>
        </div>
        <!--===================================================================================================-->
		<!--<div class="conwidth message_board clearfix">-->
			<!--<div class="navigation">-->
        		<!--<span class="bqgaikuang"><a href="#">概况</a></span><span class="bqcaipu"><a href="#">菜谱 2</a></span><span class="bqzuopin"><a href="#">作品 1564</a></span><span class="bqcaidan"><a href="#">菜单</a></span><span class="bqshoucang"><a href="#">收藏</a></span><span class="teshu bqliuyanban"><a href="#">留言板</a></span>-->
        	<!--</div>-->
        	<!--<div class="message">-->
			<!--<div class="login">-->
				<!--你需要<a href="/login">登录</a>才能回应， 还没有帐号？<a href="/register">注册一个</a>-->
			<!--</div>-->
			<!--<div class="kh30">-->
			<!--</div>-->
			<!--<div class="plaine">-->
				<!--<img src="img/userkitchen/c93e6f8c338a11e7bc9d0242ac110002_662w_849h.jpg" class="fl"style="margin-top: 5px;"/>-->
				<!--<a href="#">骁骁姥姥</a><span>3个月前 | 回复</span>-->
				<!--<p>O(∩_∩)O谢谢！刚学习，求指教</p>-->
			<!--</div>-->
			<!--<div class="plaine">-->
				<!--<img src="img/userkitchen/cffd00b5681c11e68b73f960d60360bd.jpg" class="fl"style="margin-top: 5px;"/>-->
				<!--<a href="#"> Mami果品</a><span>揭阳 |  3个月前 | 回复</span>-->
				<!--<p>(づ｡◕‿‿◕｡)づ </p>-->
			<!--</div>-->
			<!--<div class="plaine">-->
				<!--<img src="img/userkitchen/d980adc4326811e7bc9d0242ac110002_1000w_1000h.jpg" class="fl"style="margin-top: 5px;"/>-->
				<!--<a href="#">喵少主</a><span>石家庄 |  6个月前 | 回复</span>-->
				<!--<p>大大有粉丝群吗，求好友 </p>-->
			<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<div class="kh50"></div>
    <div class="conwidth footer"><!----------------页脚---------------->
        <ul>
            <li><a href="#">美食生活杂志</a></li>
            <li><a href="#">厨房工作</a></li>
            <li><a href="#">社区指导原则</a></li>
            <li><a href="#">美拾出版的书</a></li>
            <li><a href="#">帮助中心</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">意见反馈</a></li>
            <li><a href="#">隐私声明</a></li>
        </ul><br />
        <p>Zed,the Master of Shadows product "秀厨网" ,for commercial use.</p>
    </div>


		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/main.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>
